 <footer class="grid grid-cols-4 items-center justify-center">
  <div>
    <img>
  </div>
  <div>
    <h3>follow <span>us</span></h3>
  </div>
  <div class="">
    <a class="fa-brands fa-instagram text-2xl p-2p"></a>
    <a class="fa-brands fa-facebook text-2xl p-2p"></a>
    <a class="fa-brands fa-dribbble text-2xl p-2p"></a>
    <a class="fa-brands fa-linkedin-in text-2xl p-2p"></a>
  </div>
  <div>
    <a class="block" href="#">about</a>
    <a class="block" href="#">services</a>
    <a class="block" href="#">portfolio</a>
    <a class="block" href="#">contact</a>
    <div></div>
    <a href="#">back to top</a>
  </div>
 </footer>