<section class="bg-gold min-h-screen py-10p relative">
  <div class="grid grid-cols-2 gap-x-20 px-15p">
    <!-- <div class="bg-white h-[60%] w-[90%] absolute bottom-10p left-0"></div> -->
    <div class="relative  z-10">
      <img class="absolute h-[110%] top-0 object-cover"  src="https://picsum.photos/id/1020//400" alt="">   
    </div>
    <div class="relative z-20 mb-20">
      <h1>Who we are...</h1>
      <h2> cool AF subheading
      </h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore harum tempora odio obcaecati veniam excepturi molestiae aliquid. Consequatur est, ratione unde fuga, voluptas ipsam aliquam quam aspernatur obcaecati non doloribus!</p>
    </div>
    <div class="relative mt-20">      
      <h2>Who we are...</h2>
      <h3> cool AF subheading
      </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore harum tempora odio obcaecati veniam excepturi molestiae aliquid. Consequatur est, ratione unde fuga, voluptas ipsam aliquam quam aspernatur obcaecati non doloribus!</p>
      <button>Learn more</button>
    </div>

    <div class="relative">
      <img class="absolute h-[110%] bottom-0 object-cover" src="https://picsum.photos/id/1029/600/400" alt="">
      <p class="absolute -right-12 top-[50%] -rotate-90">Subtitle</p>
    </div>
  </div> 
</section>