<section>
  <h1>A bit about the company</h1>
  <h2>cool af subheading</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus temporibus pariatur ex vero voluptatem necessitatibus, nobis voluptates rem modi? Numquam quaerat porro, laboriosam maiores dolores cupiditate esse id consequuntur ducimus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus temporibus pariatur ex vero voluptatem necessitatibus, nobis voluptates rem modi? Numquam quaerat porro, laboriosam maiores dolores cupiditate esse id consequuntur ducimus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus temporibus pariatur ex vero voluptatem necessitatibus, nobis voluptates rem modi? Numquam quaerat porro, laboriosam maiores dolores cupiditate esse id consequuntur ducimus.</p>
  <button>find out more</button>
</section>